<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome to Doctor Booking Website</title>
    </head>
    <body>

        <h1>Book your appointment with your Doctor Now!</h1>

        <h2>Login</h2>
        {% if error %}
        <p style="color:red;">{{ error }}</p>
        {% endif %}

        <form action="/login" method="POST">
            {% csrf_token %}

            <label>Username</label>
            <input type="text" name="username">

            <br><br>

            <label>Password</label>
            <input type="password" name="password">

            <br><br>

            <button type="submit">Login</button>
        </form>

    </body>
</html>